.custom-bg-1{
    background: linear-gradient(rgba(0.4,0.4,0.4,.6),rgba(0.4,0.4,0.4,0.4)),url('./Images/2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-bg-2{
    background: linear-gradient(rgba(0.4,0.4,0.4,.6),rgba(0.4,0.4,0.4,0.4)),url('./Images/3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-bg-3{
    background: linear-gradient(rgba(0.4,0.4,0.4,.6),rgba(0.4,0.4,0.4,0.4)),url('./Images/4.png');
    background-repeat: no-repeat;
    background-size: cover;
}